body {
     padding: 1rem;
}

/* Create four equal columns */
.item {
    flex: 35%;
    padding: 1rem;
}

/* Create four equal columns */
.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.container img {
    display: block;
    object-fit: contain;
    max-height: 75vh;
    box-sizing: border-box;
}

img {
    width: 100%;
}

iframe {
    width: 100%;
}

.title {
    text-align: center;
}