
figure {
    margin: 0 0 10px;
    break-inside: avoid;
    background: rgb(255,177,109);
    background: linear-gradient(300deg, rgba(255,177,109,0.6474964985994398) 0%, rgba(237,151,0,1) 100%);
    box-shadow: 5px 10px 18px #888888;
}

figure > img {
    display: block;
    padding: 1rem 1rem 0;
    width: 100%;
    box-sizing: border-box;
}

.container {
    columns: 500px;
}

figcaption {
    padding: 1rem;
}

figcaption > p {
    margin-block-start: 0;
    margin-block-end: 0;
}
figcaption > h2 {
    margin-block-start: 0;
    margin-block-end: 0;
}


